---
layout: default
section_id: home
slides:
  - bg: images/ormbunkar.jpg
    title:
      text: Passion för trädgård
      animation: bottom-to-top
      class: large-8 medium-11
  - bg: images/tulpaner.jpg
    title:
      text: Kunskap om växter
      animation: bottom-to-top
      class: large-7 large-offset-5 medium-9 medium-offset-3
  - bg: images/blad.jpg
    title:
      text: Känsla för detaljer
      animation: bottom-to-top
      class: large-8 medium-11

clients:
  - images/gul-vallmo.jpg
  - images/bla-vallmo.jpg
  - images/gul-vallmo.jpg
  - images/bla-vallmo.jpg
  - images/gul-vallmo.jpg
  - images/bla-vallmo.jpg

---

<!-- <img src="images/cropped-images/ormbunkar.png"> -->

<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
 <!--          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div> -->
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
<!--       <h4 style='color: #999'>Om oss</h4> -->
      <h2>Välkommen till Green Minds</h2>
      <div class='spacing'></div>
      <p>
      Med passion för trädgård, kunskap om växter och känsla för detaljer tar vi hand om din trädgård. Nyfikenhet, glädje och passion för växter och gestaltning genomsyrar verksamheten. Drivkraften är mötet med kunder och deras trädgårdar.
      </p>
      <p>
      Att lyssna till kundens behov och önskemål, samt se till platsens förutsättningar är ett självklart utgångsläge när vi med växtkunskap och design-ideer tar oss an din trädgård då den till exempel behöver förändring eller underhåll av något slag.
      </p>
      <p>
      Verksamheten riktas till alla som har behov av skötsel, konsultation eller ritning och planering av sin trädgård eller utemiljö.
      </p>
    </div>
  </div>
  <div class='three spacing'></div>
</div>

<!-- <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for box in page.boxes %}
            <div class='box' style=''>
              <i class='{{box.icon_class}}'></i>
              <h4>{{box.title}}</h4>
              <p>{{box.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
 -->
<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/stubbe.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Trädgårdsskötsel</h2>
      <div class='spacing'></div>
      <p>
      När tiden, intresset eller kunskapen inte räcker till men önskan ändå finns att trädgården skall vara välskött och ett smycke för fastigheten samt en plats att njuta av, kan det vara en väl värd investering att anlita professionell hjälp av trädgårdsmästare. Skötselarbeten kan vara allt från enstaka arbeten som beskäring av häckar och träd till att regelbundet sköta din trädgård.
      </p>
      <div class='spacing'></div>
      <a class='button small' href='skotsel.html'>Läs mer</a>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/spade.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Rådgivning</h2>
      <div class='spacing'></div>
      <p>
      Om du vill ha konstruktiv kritik på era trädgårdsidéer, eller få en experts tankar och råd om sådant som vilka växter som kan trivas var—någon som ger snabba förslag till perenna växter som passar i rabatten du skulle vilja förverkliga, eller kanske hur du kan avskärma från insyn—då kan det passa med ett konsultationsmöte på plats.
      </p>

      <!--ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          This is a check list item, htis is a check list item
        </li>
        <li>
          <i class='fa fa-check'></i>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit ipsum
        </li>
        <li>
          <i class='fa fa-check'></i>
          Sed diam nonummy nibh euismod tincidunt ut, lorem ipsum dolor sit amet
        </li>
        <li>
          <i class='fa fa-check'></i>
          Dolore magna aliquam erat volutpat consectetu amet magna adipiscing
        </li>
      </ul-->
      <div class='spacing'></div>
      <a class='button small' href='radgivning.html'>Läs mer</a>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/design.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
<!--       <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Design</h2>
      <div class='spacing'></div>
      <p>
      Visst kan alla få en lättskött, vacker och funktionell trädgård, men det är inte alltid lätt att veta hur. Du kanske har idéer och trädgårdsintresse, men behöver lite hjälp och stöd med form och proportioner. Målsättningen är att du ska få en personlig trädgård, rabatt eller uteplats som passar dig, dina önskemål och är i stil och enlighet med övrig omgivning så som natur och byggnationer.
      </p>

      <div class='spacing'></div>
      <a class='button small' href='design.html'>Läs mer</a>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/plankor.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Styling</h2>
      <div class='spacing'></div>
      <p>
      Styling av trädgården och uteplatsen inför till exempel försäljning eller något speciellt tillfälle. Att optimera husets värde inför en försäljning kan betala sig i slutändan. Det kan gälla hela trädgården eller delar av den; rabatter eller uteplatser, helt utifrån dina önskemål.
      </p>
      <!--ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          This is a check list item, htis is a check list item
        </li>
        <li>
          <i class='fa fa-check'></i>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit ipsum
        </li>
        <li>
          <i class='fa fa-check'></i>
          Sed diam nonummy nibh euismod tincidunt ut, lorem ipsum dolor sit amet
        </li>
        <li>
          <i class='fa fa-check'></i>
          Dolore magna aliquam erat volutpat consectetu amet magna adipiscing
        </li>
      </ul-->
      <div class='spacing'></div>
      <a class='button small' href='styling.html'>Läs mer</a>
    </div>
  </div>

<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div>
 -->
<!-- <div class='full no-padding' style='background: #444; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
 -->
<!-- <div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
 -->

<!--div class='full parallax' style='background-image: url(../images/plankor.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div-->




