---
layout: default
section_id: home
clients:
  - images/gul-vallmo.jpg
  - images/bla-vallmo.jpg
  - images/gul-vallmo.jpg
  - images/bla-vallmo.jpg
  - images/gul-vallmo.jpg
  - images/bla-vallmo.jpg
testimonials:
  - text: "Tack Sara för att du redde ut mina växtbekymmer, gav mig inspiration, handfasta tips, och en plan för hur mitt grustag kan bli en prunkande trädgård—kanske redan nästa år!"
    author: Maria Malmberg
    position: Halkved Långlöt
  - text: "Tack för alla goda råd och idéer, samt för rabatten som blev precis som jag önskade. Alla äppelträd har också fått en rejäl men varsam ansiktslyftning. Jag kan varmt rekommendera Green Minds, som har stort kunnande och ett personligt bemötande."
    author: Tina Hansson
    position: Uppsala
  - text: "Vi känner oss verkligen nöjda med ideskissen där du förklarat hur du tänker med t.ex. höga träd, buskar, marktäckare, samt former och disponering av ytorna. Vi fick precis det underlag vi behövde för att sätta igång till våren, och hela processen känns jättekul!"
    author: Karin Söderström
    position: Uppsala
  - text: "Vi behövde hjälp med en slänt i vår trädgård. Sara tog hand om allt: design, planering, beställning av växter, grävning, plantering och rådgivning. Vi är supernöjda och kommer definitivt att anlita Green Minds igen!"
    author: Oskar
    position: Uppsala
  - text: "Sara hjälpte oss få ordning på alla rabatter och några fina träd till vårt nytt hus. Efter ett besök hem till oss gjorde hon en lista av perenner, buskar och träd som skulle passa i olika sol- och vindlägen. Sedan komponerade och planterade åt oss. Jag ordnade utgrävning av rabatter och bra rabattjord. Mycket fin och förvånansvärt prisvärd. Har fått många fina kommentarer från grannar och folk som går förbi på gatan."
    author: Bob och Kari
    position: Uppsala
  - text: "Vi är så glada att vi tog hjälp av dig att designa en trädgård av våra 2600 kvadrat gräsmatta. Om några år kommer här vara en prunkande oas med humlor som surrar och massor med ätbart att skörda."
    author: Karin Lindgren
    position: Almunge
  - text: "Proffsig och generös rådgivning, mycket nöjda."
    author: Johan G 
    position: Knivsta
  - text: "Vi anlitade Green Minds för att rita en trädgårdsdesign till vår tomt. Sara har hjälpt oss med att ta fram en illustrationsritning till vår trädgård samt detaljerade växtlistor. Hon var lätt att kommunicera med, lyhörd för våra önskemål och har ritat en komplett trädgård för oss som tagit vara på tomtens förutsättning och passar fint till vårt hus. Vi är mycket nöjda med Saras arbete!"
    author: Sami
    position: Uppsala
  - text: "Jag kan varmt rekommendera Sara och Green Minds. Vi fick många handfasta råd, inspiration och tips som varit mycket värdefulla för att förnya vår trädgård."
    author: Anna Törnqvist 
    position: Uppsala
  - text: "Sara ger ett kunnigt och proffesionellt intryck och gav oss många bra råd och tips vid en 2-timmars trädgårdsrådgivning."
    author: Karin Wiil 
    position: Uppsala
  - text: "Vi anlitade Green minds för trädgårdsrådgivning. Vi hade några olika idéer till vår nya trädgård som Sara gav konstruktiv feedback på och vi sökte råd om vilka större träd vi kunde plantera. Vi fick flera snabba förslag och rekommendationer direkt på plats och även snabb återkoppling efteråt med ytterligare råd och förslag. Vi är mycket nöjda och jag skulle återkomma även för större projekt!"
    author: Bettina Julin
    position: Uppsala
  - text: "Vi fick hjälp att planera vår trädgård. Sara är väldigt duktig och är lyhörd för våra önskemål. Vi är mycket nöjda ideer, skisser, val av växter och planteringstips.Vi kan varmt rekommendera Green Minds!"
    author: Maria Nygård
    position: Uppsala
  - text: "Vi anlitade Sara för trädgårdsdesign och vi blev jättenöjda med resultatet. Hon hjälpte oss med en illustrationsplan som blev helt fantastisk. Hon lyssnade in vilka tankar vi hade och plockade fram idéer till vår tomt som vi aldrig hade kommit på själva. Det ska bli roligt att förverkliga. Tillsammans med växtlistan och planteringsinstruktioner som vi fick med så känns det också lätt att påbörja planteringarna."
    author: Jenny Berlin  
    position: Uppsala
  - text: "Vi anlitade Sara för att göra en illustrationsplan över vår trädgård.Jag hade en del visioner över vad jag önskade men hade svårt att få ner det rent konkret men Sara var helt fantastisk! Hon tog allt mitt flum och gjorde en underbar ritning som lyfte vår trädgård till en helt annan nivå! Vi är så otroligt nöjda och rekommenderar henne varmt! Sara är inte bara otroligt duktig och kunnig inom sitt område, hon är trevlig, engagerad (som kund känner man sig verkligen sedd och lyssnad på) och dessutom väldigt prisvärd. Jag skulle utan tvekan välja Sara och Green Minds igen!"
    author: Helena Wallin  
    position: Storvreta
---

<img src="images/cropped-images/ormbunkar.png">

<!--div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
           <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div> -->
        </li>
      {% endfor %}
    </ul>
  </div>
</div-->

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
<!--       <h4 style='color: #999'>Om oss</h4> -->
      <h2>Välkommen till Green Minds</h2>
      <h2>Trädgårdsmästare och trädgårdsdesign i Uppsala</h2>
      <div class='spacing'></div>
      <p>
      Green Minds är ett litet, personligt trädgårdsföretag vars verksamhet ligger i Uppsala och riktas till alla som har behov av trädgårdsdesign, trädgårdsrådgivning och trädgårdsskötsel samt underhåll i och runt om Uppsala.
      </p>
      <p>
      Målet är att du som kund ska bli 100% nöjd och för att nå dit är det en självklarhet att du som kund är en del av trädgårdsdesign processen. Ditt behov av funktion, övriga önskemål och den omgivande miljön, husarkitektur, färger och natur utgör tillsammans grunden för att skapa en estetiskt tilltalande utemiljö. Växtval görs med omsorg utifrån förutsättningarna i just din trädgård så att resultatet skall ge dig en lättskött trädgård som är vacker under många år.
      </p>
    </div>
  </div>
  <!--div class='three spacing'></div-->
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
          <a href="https://www.google.com/search?q=green+minds+uppsala&ei=0W6FYOW9EZK4tQaG1oX4Cg&oq=green+minds+uppsala&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEBYQHjoHCAAQRxCwAzoXCC4Q3QMQ1AIQsAMQiwMQmAMQqAMQkwI6DQguEMcBEK8BEEMQkwI6AggAOgQIABBDULMqWLoxYJ8yaAFwAngAgAHpAogB6AuSAQcwLjQuMi4xmAEAoAEBqgEHZ3dzLXdpesgBB7gBAsABAQ&sclient=gws-wiz&ved=0ahUKEwil6sOxwJnwAhUSXM0KHQZrAa8Q4dUDCA0&uact=5#lrd=0x465fc990d378ed67:0xdd22301a3007824,1,,,">
          Se Google Recensioner</a>
      </p>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  <!--div class='four spacing'></div-->
</div>

<!-- <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for box in page.boxes %}
            <div class='box' style=''>
              <i class='{{box.icon_class}}'></i>
              <h4>{{box.title}}</h4>
              <p>{{box.text}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
 -->
<div class='full'>

  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/design.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
<!--       <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Trädgårdsdesign</h2>
      <div class='spacing'></div>
      <p>
      Visst kan alla få en lättskött, vacker och funktionell trädgård, men det är inte alltid lätt att veta hur. Du kanske har idéer och trädgårdsintresse, men behöver lite hjälp och stöd med form och proportioner. Målsättningen är att du ska få en personlig trädgård, rabatt eller uteplats som passar dig, dina önskemål och är i stil och enlighet med övrig omgivning så som natur och byggnationer.
      </p>

      <div class='spacing'></div>
      <a class='button small' href='design.html'>Läs mer</a>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/spade.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Trädgårdsskötsel</h2>
      <div class='spacing'></div>
      <p>
      När tiden, intresset eller kunskapen inte räcker till, men önskan ändå finns att trädgården skall vara välskött, ett smycke för fastigheten samt en plats att njuta av, så kan det vara en väl värd investering att anlita professionell hjälp av en trädgårdsmästare. Skötselarbeten kan vara allt från enstaka arbeten till regelbunden trädgårdsskötsel.
      </p>
      <div class='spacing'></div>
      <a class='button small' href='skotsel.html'>Läs mer</a>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/beskarning.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <h2>Beskärning</h2>
      <div class='spacing'></div>
      <p>
      För att få långlivade och vackra buskar och träd, som dessutom ger bättre blomning och fruktsättning, så är återkommande beskärning nödvändig. Dessutom är beskärning viktigt att den utförs på rätt sätt och vid rätt tidpunkt. Val av tidpunkt görs utifrån det enskilda trädets eller buskens förutsättningar—vårvintern eller Juli-September.
      </p>
      <div class='spacing'></div>
      <a class='button small' href='beskarning.html'>Läs mer</a>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/stubbe.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Trädgårdsrådgivning</h2>
      <div class='spacing'></div>
      <p>
        Om du vill ha konstruktiv kritik på dina trädgårdsidéer, eller få en experts tankar och råd om sådant som vilka växter som kan trivas var, så kan jag som trädgårdsmästare med många års erfarenhet ge snabba förslag. Till exempel på vilka perenna växter som passar i rabatten du skulle vilja förverkliga, eller kanske hur du kan avskärma från insyn. Vi kan då boka in ett konsultationsmöte på plats i din trädgård.
      </p>

      <!--ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          This is a check list item, htis is a check list item
        </li>
        <li>
          <i class='fa fa-check'></i>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit ipsum
        </li>
        <li>
          <i class='fa fa-check'></i>
          Sed diam nonummy nibh euismod tincidunt ut, lorem ipsum dolor sit amet
        </li>
        <li>
          <i class='fa fa-check'></i>
          Dolore magna aliquam erat volutpat consectetu amet magna adipiscing
        </li>
      </ul-->
      <div class='spacing'></div>
      <a class='button small' href='radgivning.html'>Läs mer</a>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/plankor.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <h2>Trädgårdsstyling</h2>
      <div class='spacing'></div>
      <p>
      Styling av trädgården och uteplatsen inför till exempel försäljning eller något speciellt tillfälle. Att optimera husets värde inför en försäljning kan betala sig i slutändan. Det kan gälla hela trädgården eller delar av den; rabatter eller uteplatser, helt utifrån dina önskemål.
      </p>
      <!--ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          This is a check list item, htis is a check list item
        </li>
        <li>
          <i class='fa fa-check'></i>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit ipsum
        </li>
        <li>
          <i class='fa fa-check'></i>
          Sed diam nonummy nibh euismod tincidunt ut, lorem ipsum dolor sit amet
        </li>
        <li>
          <i class='fa fa-check'></i>
          Dolore magna aliquam erat volutpat consectetu amet magna adipiscing
        </li>
      </ul-->
      <div class='spacing'></div>
      <a class='button small' href='styling.html'>Läs mer</a>
    </div>
  </div>

 <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/present.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <h2>Presentkort</h2>
      <div class='spacing'></div>
      <p>
      Varför inte ge bort trädgårdstjänster i present?
      </p>
      <p>
      En unik och personlig gåva som skräddarsys efter dina önskemål. Till exempel trädgårdsrådgivning, en höststädning av trädgården, eller varför inte en fin plantering.
      </p>
      <p>
      Maila eller ring för mer information!
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
   <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/ab609248822d53a4bce2db3b4e64ba9a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  <div class='four spacing'></div>
</div>


<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div>
 -->
<!-- <div class='full no-padding' style='background: #444; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
 -->

<!--div class='full parallax' style='background-image: url(../images/plankor.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div-->
