---
layout: default
section_id: about

members:
  - name: Sara Bonér
    position: Grundare och Trädgårdsmästare
    desc:
    avatar: images/sara.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
---

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <!--h4 style='color: #999'></h4-->
      <h2>Green Minds bakgrund</h2>
      <div class='spacing'></div>
      <p>
      Green Minds drivs av Sara Bonér. Kvalificerad trädgårdsmästare med inriktning mot växtkunskap.
      </p>
      <p>
      Utbildning och arbetsliv inom trädgård:
      </p>
      <ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          2-årig Trädgårdsmästarutbildning vid Enköpings Yrkeshögskola 2012-2013
        </li>
          <i class='fa fa-check'></i>
          Säsongen 2014 anställning som trädgårdsmästare vid ett litet anläggningsföretag.
        </li>
        <li>
          <i class='fa fa-check'></i>
          Säsongen 2015 anställning som trädgårdsmästare vid Funbo Plantskola där jag även kommer att jobba deltid under 2016.
        </li>
      </ul>
    </div>
  </div>
  <!--div class='three spacing'></div-->
<!-- </div> -->

<!--div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class='medium-6 columns'>
      <h3>The testimonials</h3>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img alt="" src="{{t.avatar}}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>
                        {{t.author}}
                      </strong>
                      , {{t.position}}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div-->

<!-- <div class='full'> -->
  <!--div class='row'>
    <div class='large-12 columns'>
      <h3>Teamet</h3>
      <div class='spacing'></div>
    </div>
  </div-->
  <div class='row'>
    {% for member in page.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='{{social.icon_class}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <!--div class='three spacing'></div-->
</div>
