---
layout: default
section_id: home
---

<img src="images/cropped-images/ormbunkar.png">

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Projekt</h2>
      <div class='spacing'></div>
      <p>
      <h3>Ett litet urval av tidigare utförda projekt.</h3>
      </p>
    </div>
  </div>
  <!--div class='three spacing'></div-->
</div>

<div class='full'>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Damm</h2>
      <div class='spacing'></div>
      <p>
      <h3>Beskrivning.</h3>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="400" height="300" alt="" src="images/damm.jpg" />
    </div>
    <div class='medium-6 columns'>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <p>
      Att tillföra vatten ger en extra dimension till trädgården. Bland annat i form av ökat djurliv.
      </p>
      <!--div class='spacing'></div>
      <a class='button small' href='skotsel.html'>Läs mer</a-->
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="400" height="300" alt="" src="images/entre.jpg" />
    </div>
    <div class='medium-6 columns'>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <p>
      En välkomnande entré-plantering. 
      </p>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="400" height="300" alt="" src="images/trad.jpg" />
    </div>
    <div class='medium-6 columns'>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <p>
      En fantastisk trädplantering som verkligen lyfter trädgården, kreativt utplacerad mitt på gräsmattan i en annars rätt tråkig traditionell villaträdgård. 
      </p>
    </div>
  </div>

  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="400" height="300" alt="" src="images/skiss.jpg" />
    </div>
    <div class='medium-6 columns'>
      <!-- <h4 style='color: #999'>Tjänster</h4> -->
      <p>
      Planritning till nyanlagd tomt i villaområde. Ägarna hade önskemål om insynskydd från all håll. Det var också viktigt med ytor för rekreation, bär och frukträd, samt prydnadsväxter i form av buskar, träd, och perenner.
      </p>
    </div>
  </div>

  <div class='four spacing'></div>
</div>


<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div>
 -->
<!-- <div class='full no-padding' style='background: #444; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
 -->

<!--div class='full parallax' style='background-image: url(../images/plankor.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div-->
