<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
<!--       <h1>
        <a href='index.html'>
          <img alt="" src="{{site.url}}/images/logo-grey.png" />
        </a>
      </h1>
 -->

        <p>©2016-2018 {{site.title}} Uppsala.
        <br/>All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>

<!--     <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Några sidor</h4>
        <ul>
          <li><a href="index.html">Hem</a></li>
          <li><a href="portfolio.html">Läs om våra projekt</a></li>
          <li><a href="blog.html">Följ vår blogg</a></li>
          <li><a href="contact.html">Kontakta oss</a></li>
          <li><a href="services.html">Läs mer om våra tjänster</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
 -->
 <!--    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Recent posts</h4>
        <ul>
          {% for post in site.posts %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class='spacing'></div>
    </div> -->

    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Kontakt</h4>
      <ul>
        <li>Telefon: 0739-261794</li>
        <li>Email: sara@greenminds.se</li>
        <li>Adress: Backvägen 16B, Uppsala</li>
      </ul>
      <div class='spacing'></div>
     <ul class='socials'>
        <li>
          <a href='http://facebook.com/greenmindstradgard'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='http://instagram.com/greenmindstradgard'>
            <i class='fa fa-instagram'></i>
          </a>
        </li>
<!--         <li>
          <a href='http://twitter.com'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='http://dribbble.com'>
            <i class='fa fa-dribbble'></i>
          </a>
        </li>
        <li>
          <a href='http://tumblr.com'>
            <i class='fa fa-tumblr'></i>
          </a>
        </li>
 -->      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
